<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetFlow - Add a reviewer</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/admin/addReviewer.css">
    <script src="/register.js" defer></script>
</head>
<body>
    <nav>
        <div>
            <a href="/admin/create-submission">Create Submission</a>
            <a href="/admin/assign-reviewer">Assign Reviewer</a>
            <a href="/admin/all-articles">See All Articles</a>
            <a href="/admin/add-reviewer">Add Reviewer</a>
            <a href="/admin/remove-reviewer">Remove Reviewer</a>
            <a href="/">Logout</a>
        </div>

    
      </nav>
<div class="content">
    <h2>Add a reviewer</h2>
    <p>Here you can add a reviewer to our system</p>

    <form action="/admin/add-reviewer" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="affiliation">Research area:</label>
        <input type="text" id="affiliation" name="affiliation" required>

        <label for="password">Assigned password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Create reviewer</button>


    </form>

    <% if (errorMessage || successMessage) { %>
        <div class="auth-message <%= errorMessage ? 'error-message' : 'success-message' %>"
            <p><%= errorMessage || successMessage %></p>
        </div>
    <% } %>

    <a href="/admin/welcome-admin">
        <button type="button" class="go-home">Homepage</button>
      </a>
    </div>
</body>
</html>
