<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference Compass - Create Submission</title>
    <script src="/css/create-submission.js" defer></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/admin/submission.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

  <nav>
    <div>
        <a href="/admin/create-submission">Create Submission</a>
        <a href="/admin/assign-reviewer">Assign Reviewer</a>
        <a href="/admin/all-articles">See All Articles</a>
        <a href="/admin/add-reviewer">Add Reviewer</a>
        <a href="/admin/remove-reviewer">Remove Reviewer</a>
        <a href="/">Logout</a>
    </div>
  </nav>

  <div class="content">

    <div>
        <h2>Create Submission Period</h2>
    
        <form action="/admin/create-submission" method="POST">
    
          <div>
            <label for="startDate">Start date:</label>
            <input
              type="text"
              id="startDate"
              name="start_date"
              required
            />
          </div>
    
          <div>
            <label for="endDate">End date:</label>
            <input
              type="text"
              id="endDate"
              name="end_date"
              required
            />
          </div>
    
          <button type="submit">Create</button>
        </form>
    
      </div>
    

    <a href="/admin/welcome-admin">
        <button type="button" class="go-home">Homepage</button>
    </a>
    
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      <script>
        flatpickr("#startDate", {
          dateFormat: "Y-m-d"
        });
    
        flatpickr("#endDate", {
          dateFormat: "Y-m-d"
        });
      </script>

<% if (errorMessage || successMessage) { %>
    <div class="auth-message <%= errorMessage ? 'error-message' : 'success-message' %>"
        <p><%= errorMessage || successMessage %></p>
    </div>
<% } %>
  </div>
</body>
</html>