<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference Management - Edit Submission</title>
    <script src="/functions.js" defer></script>
</head>
<body>
    <div>Edit Submission</div>
    <div id="submissionCards">
      
    </div>


    <a href="/admin/welcome-admin">
        <button type="button" class="go-home">Homepage</button>
    </a>
</body>
</html>