<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference Management</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>User Registration</h1>

    <form action="/manage/register" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required><br><br>

        <label for="affiliation">Affiliation:</label>
        <input type="text" id="affiliation" name="affiliation" required><br><br>

        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="admin">Admin</option>
            <option value="author">Author</option>
            <option value="reviewer">Reviewer</option>
        </select><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Register</button>

        <% if (errorMessage || successMessage) { %>
            <div class="auth-message <%= errorMessage ? 'error-message' : 'success-message' %>"
                <p><%= errorMessage || successMessage %></p>
            </div>
        <% } %>

    </form>

    <div class="login-button-on-register-page">
        <p>Already have an account?</p>
        <a href="/login">
            <button type="button" class="login-button">Login</button>
        </a>
    </div>

    <script src="/register.js"></script>
</body>
</html>
