<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetFlow</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/register.js" defer></script>
</head>
<body>
    <main>
        <div id="content">
            <div id="welcome">

                <h2>Welcome to MeetFlow </h2>
                <h3>Streamlining Academic Conferences, One Submission at a Time.</h3>
            </div>
            
                
                <div class="buttons">
                    <a href="/login">
                        <button type="button" class="login-button">Login</button>
                    </a>
                    <a href="/register">
                        <button type="button" class="register-button">Register</button>
                    </a>
                </div>

        </div>
    </main>
</body>
</html>
