<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference Compass</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/welcome.css">

</head>
<body>
  <nav>
    <div>
        <a href="/admin/create-submission">Create Submission</a>
        <a href="/admin/assign-reviewer">Assign Reviewer</a>
        <a href="/admin/all-articles">See All Articles</a>
        <a href="/admin/add-reviewer">Add Reviewer</a>
        <a href="/admin/remove-reviewer">Remove Reviewer</a>
        <a href="/">Logout</a>
    </div>
  </nav>

<div class="content">
    <h2>Welcome admin, <%= user.first_name %> <%= user.last_name %>!</h2>
    <p> How can we help ypu today?</p>

    <div class="button-container">
        <a href="/admin/create-submission">
          <button type="button" class="create-submission">Create submission time</button>
        </a>

        <a href="/admin/assign-reviewer">
            <button type="button" class="assign reviewer">Assign reviewer</button>
          </a>

        <a href="/admin/all-articles">
          <button type="button" class="all-articles">See all articles</button>
        </a>

        <a href="/admin/add-reviewer">
          <button type="button" class="add-reviewer">Add a reviewer</button>
        </a>

        <a href="/admin/remove-reviewer">
          <button type="button" class="remove-reviewer">Remove a reviewer</button>
        </a>
    </div>

  </div>
</body>
<script>
  document.getElementById('menuToggle').addEventListener('change', function () {
      var menu = document.getElementById('menu');
      if (this.checked) {
          menu.style.left = '0';
      } else {
          menu.style.left = '-250px';
      }
  });
</script>

</html>
