<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetFlow</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome author, <%= user.first_name %> <%= user.last_name %>!</h1>
    <p>Click on different buttons to see different views.</p>

    <div class="button-container">
        <a href="/author/create-article">
          <button type="button" class="create-article">Create article</button>
        </a>

        <a href="/author/submitted-article">
          <button type="button" class="submitted-article">Submitted article</button>
        </a>

        <a href="/">
          <button type="button" class="logout-button">Logout</button>
        </a>
    </div>
</body>
</html>
